<div class="container">
 <div class="row">
   <div class="col-md-3">
    <h1>User info</h1>
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'100x100' %>
    <div class="pt-3 font-weight-bold border-top border-white-50 col-md-8">name<span class="offset-md-5"><%= @user.name %></span></div><br>
    <div class="pt-3 font-weight-bold border-top border-white-50 col-md-8">introduction<span class="offset-md-1"><%= @user.introduction %></span></div>
    <% if @user.id == current_user.id %>
    <p class="mt-5"><%= link_to icon("fas", "user-cog"), edit_user_path(@user), class: 'btn btn-outline-secondary btn-sm w-75' %></p>
    <% end %>
    <h2>New book</h2>
    <%= form_with model:@book, local:true do |f| %>
    <p>Title</p>
    <%= f.text_field :title, class: "col-md-9 text-secondary" %>
    <p>Opinion</p>
    <%= f.text_area :body, class: "col-md-9 text-secondary" %>

    <br><%= f.submit class:"btn btn-success w-25" "Create Book" %></br>
    <% end %>
   </div>
   <div class="col-md-8 offset-md-1">
    <h1>Users</h1>
   <table class="table table-hover">
   <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
   </thead>

   <tbody>
    <% @users.each do |user| %>
    <tr>
    <td>
      <span><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %></sapn>
    </td>
    <td>
      <span><%= user.name %></span>
    </td>
    <td>
      <span><%= link_to "Show", user_path(user.id) %></sapn>
    </td>
    <% end %>
    </tr>
   </tbody>
   </table>
   </div>
 </div>
</div>
